$primary-color: #F5D76E;

/*brand colors*/
$brand-black: #554b27;

/*fonts*/
$arial-normal : Arial, sans-serif;
$arial-bold : Arial-Bold, sans-serif;
$lato-light: Lato-Light, sans-serif;
$lato-regular: Lato-Regular, sans-serif;
$lato-bold: Lato-Bold, sans-serif;
$roboto-light: Roboto-Light, sans-serif;
$roboto-regular: Roboto-Regular, sans-serif;
$roboto-bold: Roboto-Bold, sans-serif;