.home {
  .welcome {
    background: url('../../images/jass2.jpg') no-repeat;
    background-size: cover;
    height: calc(100vh - 64px);
    margin:20px;
  }
  .about{
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}