@import '../../styles/variables.scss';

.home {
  .section {
    padding:2px;
    margin-bottom: 50px;
    .title {
      font-size: 25px;
      margin-bottom: 10px;
      font-style: italic;
      color: $brand-orange;
      background: #efefef;
      padding:10px 20px;
      display: inline-block;
      font-family: $lato-light;
    }
    .list{
      width:70%;
      margin: auto;
    }
    .quote {
      font-size: 30px;
      font-style: italic;
      color: #b5b5b5;
      font-family: $lato-light;
      margin: 100px 0;
    }
  }
}