@import '../../styles/variables.scss';

.home {
  .section {
    padding:2px;
    .title {
      font-size: 25px;
      margin-bottom: 10px;
      font-style: italic;
      color: $brand-orange;
      background: #efefef;
      padding:10px 20px;
      display: inline-block;
      font-family: $lato-light;
    }
  }
}